<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Snake and Ladder</display-name>
  <listener>
		<listener-class>com.lbp.SessionListenerClasses.SessionListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.lbp.servletclasses.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.lbp.servletclasses.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.lbp.servletclasses.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGame</servlet-name>
    <servlet-class>com.lbp.servletclasses.CreateGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGame</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>join</servlet-name>
    <servlet-class>com.lbp.servletclasses.join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetColors</servlet-name>
    <servlet-class>com.lbp.jspclasses.GetColors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetColors</servlet-name>
    <url-pattern>/GetColors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.lbp.jspclasses.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUname</servlet-name>
    <servlet-class>com.lbp.jspclasses.CheckUname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUname</servlet-name>
    <url-pattern>/CheckUname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckPassP</servlet-name>
    <servlet-class>com.lbp.jspclasses.CheckPassP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPassP</servlet-name>
    <url-pattern>/CheckPassP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartGame</servlet-name>
    <servlet-class>com.lbp.jspclasses.StartGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartGame</servlet-name>
    <url-pattern>/StartGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckStarted</servlet-name>
    <servlet-class>com.lbp.jspclasses.CheckStarted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStarted</servlet-name>
    <url-pattern>/CheckStarted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckBname</servlet-name>
    <servlet-class>com.lbp.jspclasses.CheckBname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBname</servlet-name>
    <url-pattern>/CheckBname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDetails</servlet-name>
    <servlet-class>com.lbp.jspclasses.GetDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDetails</servlet-name>
    <url-pattern>/GetDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetScore</servlet-name>
    <servlet-class>com.lbp.jspclasses.GetScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScore</servlet-name>
    <url-pattern>/GetScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PositionUpdate</servlet-name>
    <servlet-class>com.lbp.jspclasses.PositionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionUpdate</servlet-name>
    <url-pattern>/PositionUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGamerDetails</servlet-name>
    <servlet-class>com.lbp.jspclasses.GetGamerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGamerDetails</servlet-name>
    <url-pattern>/GetGamerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFullDetails</servlet-name>
    <servlet-class>com.lbp.jspclasses.GetFullDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFullDetails</servlet-name>
    <url-pattern>/GetFullDetails</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Chance</servlet-name>
    <servlet-class>com.lbp.jspclasses.Chance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chance</servlet-name>
    <url-pattern>/Chance</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>